

<div class="container-fluid">
  <div class="row ">
    <div class="sun"></div>
    <div class="col-sm-6 col-xs-12 light-body" id="flag">
	  	
	  <!-- 	<h1>Harper Solar
	  	<small>Distributors and Importers LLC</small></h1> -->  	
      <p class="feature">Clean, affordable energy.</p>
      <p class="light-body">
          Offering inexpensive solar lighting and cell-phone charging where needed.
      </p>
    </div>
    <div class="col-sm-6 col-xs-12" id="hero">
      <div id="hero-pic">
      </div>
      <p class="description">
        Our product is a small, affordable, solar panel that can charge a cell phone during bright sunlight. You may also purchase a storage battery that can be charging while you are out during the day. Your phone or light can charge from it at night.
      </p>
      <p class='description'>We are bringing this and other exciting products to your village soon.
      </p>
    </div>

  </div>
</div>

