.main
  .container-fluid
    .row
      .sun
      #flag.col-sm-6.col-xs-12.light-body
        /!
          | <h1>Harper Solar
          | <small>Distributors and Importers LLC</small></h1
        p.feature Clean, affordable energy.
        p.light-body
          | Offering inexpensive solar lighting and cell-phone charging where needed.
      #hero.col-sm-6.col-xs-12
        #hero-pic
        p.description
          | Our product is a small, affordable, solar panel that can charge a cell phone during bright sunlight. You may also purchase a storage battery that can be charging while you are out during the day. Your phone or light can charge from it at night.
        p.description
          | We are bringing this and other exciting products to your village soon.
