

<div class="container-fluid">
  <div class="row ">
    <div class="sun"></div>
    <div class="col-sm-6 col-xs-12 light-body" id="flag">
	  	
	  <!-- 	<h1>Harper Solar
	  	<small>Distributors and Importers LLC</small></h1> -->  	
    </div>
    <div class="col-sm-6 col-xs-12 light-body">

    	<p class="feature">Clean, affordable energy.</p>
    	<p>
          Offering inexpensive solar lighting and cell-phone charging where needed.
    	</p>
    </div>

  </div>
</div>

